<h2>Create an Account</h2>
<%= form_for @user do |form| %>
  <div >
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <%= form.submit 'Submit' %>
<% end %>