<% if current_user %>
<h2> Welcome, <%= @user.user_name %> </h2>

<section class="podcast_following">
  <h1><%= @user.following_podcasts.length %> Following</h1>
  <% @user.following_podcasts.each do |podcast| %>
    <section id="follow">
      <%= podcast.name %>
    </section>
  <% end %>
</section>


<h3> Edit Profile </h3>

<h4> Podcast Application </h4>

<%= button_to 'Upload your own podcast', search_path, method: 'get', class: "btn btn-outline btn-xl js-scroll-trigger" %>

<% if current_user.admin %>
  <section class = "admin-dashboard">
    <h1><%= @user.podcasts.length %> </h1>
  <% @user.pending_podcasts.each do |podcast| %>
    <section id="podcast_pending_approval">
    <h5>Name</h5>
      <%= podcast.name %>
    <h5>Description</h5>
      <%= podcast.description %>
    <%= button_to "Approve", "/approve_podcast/#{podcast.id}" %>
    </section>
  <% end %>
  </section>
  <% end %>
<% end %>
