<% if current_user %>

<section class="container podcast_following">
  <h3>Shows you are Following: <%= @user.following_podcasts.length %></h3><br>
  <div class='row'>
    <% @user.following_podcasts.each do |podcast| %>
      <div id="follow" class='followed-button'>
        <%= button_to  podcast.name , podcast_path(podcast.id), method: 'get', class: "btn btn-outline btn-xl js-scroll-trigger" %>
      </div>
    <% end %>
  </div>
</section>
<div class='container'>
  <p> Interested in becoming a contributor with Podsmack?</p>
  <div class='row'>
    <p class='col-sm-4'> Apply to add your show here:</p>
    <%= button_to 'Upload your own podcast', search_path, method: 'get', class: "btn btn-outline btn-custom js-scroll-trigger" %>
  </div>
</div>

<% if current_user.admin %>
  <section class = "admin-dashboard">
  <% @user.pending_podcasts.each do |podcast| %>
    <section id="podcast_pending_approval">
    <h5>Name - </h5><%= podcast.name %>
    <h6>Description:</h6>
    <%= podcast.description %>
    <%= button_to "Approve", "/approve_podcast/#{podcast.id}" %>
    </section>
  <% end %>
  </section>
  <% end %>
<% end %>
