<% if current_user %>

<section class="podcast_following center-search">
  <h1><%= @user.following_podcasts.length %> Following</h1>
  <% @user.following_podcasts.each do |podcast| %>
    <section id="follow">
      <%= link_to podcast.name, "/podcasts/#{podcast.id}" %>
    </section>
  <% end %>
</section>

<h4 class="center-search"> Podcast Application </h4>
<div class="center-search">
  <%= button_to 'Upload your own podcast', search_path, method: 'get', class: "btn btn-outline btn-xl js-scroll-trigger" %>
</div>

<% if current_user.admin %>
  <section class = "admin-dashboard">
  <% @user.pending_podcasts.each do |podcast| %>
    <section id="podcast_pending_approval">
    <h5>Name - </h5><%= podcast.name %>
    <h6>Description:</h6>
    <%= podcast.description %>
    <%= button_to "Approve", "/approve_podcast/#{podcast.id}" %>
    </section>
  <% end %>
  </section>
  <% end %>
<% end %>
