<% if current_user %>

<section class="podcast_following center-search">
  <h1>Shows you are Following: <%= @user.following_podcasts.length %></h1>
  <% @user.following_podcasts.each do |podcast| %>
    <section id="follow">
      <%= button_to  podcast.name , podcast_path(podcast.id), method: 'get', class: "btn btn-outline btn-xl js-scroll-trigger" %>
    </section>
  <% end %>
</section>

<h6 class="center-search"> Interested in becoming a contributor with Podsmack? Apply to add your show here:  </h6>
<div class="center-search">
  <%= button_to 'Upload your own podcast', search_path, method: 'get', class: "btn btn-outline btn-xl js-scroll-trigger" %>
</div>

<% if current_user.admin %>
  <section class = "admin-dashboard">
    <h1><%= @user.podcasts.length %> </h1>
  <% @user.pending_podcasts.each do |podcast| %>
    <section id="podcast_pending_approval">
    <h5>Name</h5>
      <%= podcast.name %>
    <h5>Description</h5>
      <%= podcast.description %>
    <%= button_to "Approve", "/approve_podcast/#{podcast.id}" %>
    </section>
  <% end %>
  </section>
  <% end %>
<% end %>
