<%= form_tag(podcasts_path, method: "get") do %>
  <div class="container">
    <div class="row">

        <div class="col-sm center-search">
          <%= label_tag 'Location' %>
          <%= select_tag(:location, options_for_select([nil, 'Denver', 'NYC', 'Dallas', 'San Francisco']), { class: "btn btn-outline btn-xl js-scroll-trigger" })%>
        </div>

        <div class="col-sm center-search">
          <button class="btn btn-outline btn-sml" type="button" data-toggle="collapse" data-target="#tags-collapse" aria-expanded="false" aria-controls="tags-collapse">
            Tags
          </button>
          <div class="collapse" id="tags-collapse">
            <div class="card card-body search-tags">
              <%= collection_check_boxes(:tags, :ids, Tag.all, :id, :name, include_hidden: false) do |box| %>
                <%= box.label {box.check_box + box.text} %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-sm center-search">
          <%= label_tag 'Exclude Adult Content' %>
          <%= check_box_tag :adult_content, checked = false %>
        </div>

        <div class="col-sm center-search">
          <%= label_tag :name %>
          <%= text_field_tag :name %>
        </div>

    </div>
  </div>
  <br>
  <br>
  <div class='center-search'>
    <%= submit_tag 'Search', class: "btn btn-outline" %>
  </div>
<% end %>


<section class='podcast-browse center-search'>
  <h3 class="center-search"> Podcast Collection: <%= @podcasts.length %> Results </h3>

  <% @podcasts.each do |podcast| %>
    <section class='podcast_results'>
      <h4><%= link_to podcast.name, podcast_path(podcast.id) %></h4>
      <%= raw(podcast.description).html_safe  %>
    </section>
  <% end %>
</section>
