<!DOCTYPE html>
<html>
  <head>
    <title>Podsmack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    
  </head>


  <body id="page-top"><div id="huntr-react-container-2"><!-- react-empty: 1 --></div>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Browse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    

    <header class="masthead row">
      <div class="masthead-text container h-100 col-lg-6">
        <div class="row h-100">
          <div class="col-lg-7 mb-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Podsmack</h1>
              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Find your next favorite podcast</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gif-image col-lg-6">
        <%= image_tag 'https://media.giphy.com/media/xT9IgFLfWUZigjoem4/giphy.gif' %>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Newest Podcasts</h2>
            <p>Our app helps you narrow down your search.</p>
            <div class="badges">
              <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
              <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>

  <body>
  <% flash.each do |name, msg| %>
    <div class= "<%=name%>-flash">
      <p><%= msg %></p>
    </div>
  <% end %>
    <%= yield %>

  </body>
      
</html>
