<!DOCTYPE html>
<html>
  <head>
    <title>Podsmack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "Home", "/"%>
      <%= link_to "Dashboard", "/"%>
      <%= link_to "Browse", "/"%>
      <%= link_to "Login", "/"%>
      <%= link_to "Register", "/"%>
    <%= yield %>
  </body>
</html>
